name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
      pull-requests: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/designate
          ref: b48d47d309f86550e62318a0f2ade7d5f5d44f17 # master

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@main
        with:
          image-name: designate
          build-contexts: designate=openstack/designate
          push: ${{ github.event_name != 'pull_request' }}
